<div id="TopBar">@{ Html.RenderPartial("~/Areas/Header/Views/Header/_Header.cshtml", SL_Application.Administration); }</div>
<div id="NavBar">@{ Html.RenderPartial("~/Areas/Admin/Views/Menu/Index.cshtml");}</div>

@(Html.Kendo().Splitter()
      .Name("MainSplitterVertical")
      .Orientation(SplitterOrientation.Horizontal)
      .HtmlAttributes(new { @class = "splitter" })
      .Panes(verticalPanes =>
      {
          verticalPanes.Add()
              .HtmlAttributes(new {id = "left-pane", @class = "childSplitter"})
              .Collapsible(true)
              .Resizable(true)
              .Scrollable(false)
              .Content(@<text>
                           @Html.Partial("~/Areas/Admin/Views/Tab/Index.cshtml")
                        </text>);
      }))

@(Html.Kendo().Window()
        .Name( "LocalDetailWindow" )
        .Modal( true )
        .AutoFocus( true )
        .Actions( actions => actions.Close() )
        .Visible( false )
        .Draggable( true )
        .Resizable( resize => resize.Enabled( false ) )
        .Animation( amin =>
            {
                amin.Enable( true );
                amin.Open( effect => effect.Zoom( ZoomDirection.In ) );
                amin.Close( close => close.Zoom( ZoomDirection.Out ) );
            } )
        .Iframe( false )
        .Events( events => events.Refresh( "onLocalWindowResize" ) )
        .Scrollable( false )
        .Title( "Details" ))

@*<style scoped>
    #LocalAdminWindow {
        margin:5px;
        width:auto;
        height:auto;
        
    }


    #AdminDiv {
        height:80%;
        width:90%;
        align-content:center;
        border-width:2px;
        -ms-border-radius:5px;
        border-radius:5px;
        margin-left:auto;
        margin-right:auto;
    }
</style>*@
