@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools

<script type="text/javascript">
    $('#SharedLabelCheckBox').change(function () {
        RefreshGrid("#CnsExposureGrid");
    });

    var _originalCnsMonitorGrid = null;
    var _CnsMonitorSelectAll = false;

    $(document).ready(function () {
        kendo.ui.Grid.fn.options.columnMenuInit = function (e) {
            var menu = e.container.find(".k-menu").data("kendoMenu");
            menu.bind('activate', function (e) {
                if (e.item.is('.k-filter-item')) {
                    // if an element in the submenu is focused first, the issue is not observed
                    e.item.find('span.k-dropdown.k-header').first().focus();
                    // e.item.find('input').first().focus();
                }
            });
        };

        setTimeout(function () {
            _originalCnsMonitorGrid = $('#CnsMonitorGrid').data('kendoGrid').getOptions();

            LoadGridLayout("#CnsMonitorGrid");
        }, 5);
    });

    function onCnsMonitorCheckData() {
        CheckGridData('#CnsMonitorGrid');
    }

    function additionalCnsMonitorData() {
        var datepicker = $("#CnsMonitorCalander").data("kendoDatePicker");
        var value = kendo.toString(datepicker.value(), 'yyyy-MM-dd');

        var entity = $("#CnsMonitorDropdownList").data("kendoDropDownList").value();

        return {
            effectiveDate: value,
            entityId: entity
        };
    }

    function onCnsMonitorDefaultLoad() {
        try {
            var userPreference;

            $.ajax({
                url: '/Header/Header/GetUserPreference',
                type: 'POST',
                contentType: 'application/json;',
                success: function(valid) {
                    userPreference = valid;

                    var dropdownList = $('#CnsMonitorDropdownList').data("kendoDropDownList");

                    dropdownList.select(function(dataItem) {
                        return dataItem.CompanyId == userPreference.DefaultFirm;
                    });

                    $('#CnsMonitorGrid').data("kendoGrid").dataSource.read();
                },
                error: function(valid) {
                    userPreference = null;
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onCnsMonitorError(e) {
        DisplayControllerError(e);
    }

    function onCnsMonitorChange() {
        $("#CnsMonitorGrid").data("kendoGrid").dataSource.read();
    }

    function onCnsMonitorRowChange(e) {
        e.preventDefault();

        try {
            var entityGrid = $("#CnsMonitorGrid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());

            var entityId = selectedItem["EntityId"];
            var effectiveDate = selectedItem["EffectiveDate"];
            var securityNumber = selectedItem["SecurityNumber"];
            var issueId = selectedItem["IssueId"];


            UpdateIssue(entityId, securityNumber);
            UpdateBox(effectiveDate, entityId, issueId);
            UpdateTrading(entityId, issueId);
            UpdateSharedView(effectiveDate, entityId, securityNumber);
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onCnsMonitorGridLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#CnsMonitorGrid");
        }, 5);
    }

    function onCnsMonitorSearchChange(e) {
        e.preventDefault();

        try {
            var grid = $("#CnsMonitorGrid").data("kendoGrid").dataSource;

            var cusipTextBox = document.getElementById("CnsMonitorSecuritySearchTextBox").value;

            QuickColumnFilter(grid, 'Ticker', cusipTextBox);
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onCnsMonitorContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {           
            case "Reset Filter":
                ResetFilter("#CnsMonitorGrid");
                break;

            case "Reset Grid":
                ResetUserLayout("#CnsMonitorGrid");
                $('#CnsMonitorGrid').data('kendoGrid').setOptions(_originalCnsMonitorGrid);
                break;

            case 'AutoFit Columns':
                resizeGridColumns("#CnsMonitorGrid");
                break;

            case "Unsort":
                onCnsExposureUnsortGrid("#CnsMonitorGrid");
                break;

            case "Select All":
                CnsMonitorSelectAll(true);
                break;

            case "Export To Excel":
                exportToCnsMonitorExcel();
                break;
        }
    }

    function onCnsExposureUnsortGrid(e) {
        UnsortGrid(e);
    }

    function exportToCnsMonitorExcel() {
        try {
            KendoGridToCSVConvertor("#CnsMonitorGrid", 'CnsMonitorGrid', _CnsMonitorSelectAll);

            _CnsMonitorSelectAll = false;
        }
        catch (e) {
            console.log(e.message);
            console.log(e.message);
        }
    }

    function CnsMonitorSelectAll(e) {
        try {
            var CnsMonitorGrid = $("#CnsMonitorGrid").data("kendoGrid");
            CnsMonitorGrid.select(CnsMonitorGrid.tbody.find(">tr"));

            _CnsMonitorSelectAll = true;
        }
        catch (e) {
            console.log(e.message);
        }
    }

</script>

@(
 Html.Kendo().ToolBar()
    .Name("CnsMonitorToolBar")
    .Resizable(true)
    .Items(items =>
    {
        items.Add().Template(LabelHelper.Label("EffectiveDate").ToHtmlString());

        items.Add().Template(Html.Kendo().DatePicker()
                                .Name("CnsMonitorCalander")
                                .Format("yyyy-MM-dd")
                                .HtmlAttributes(new { @class = "width90" })
                                .Value(DateTime.Now)
                                .Events(events => events.Change("onCnsMonitorChange")).ToHtmlString());

        items.Add().Template(LabelHelper.Label("Entity").ToHtmlString());
        items.Add().Template(Html.Kendo().DropDownList()
                            .Name("CnsMonitorDropdownList")
                            .HtmlAttributes(new { @class = "width90" })
                            .DataTextField("Custodian")
                            .DataValueField("CompanyId")
                            .OptionLabel(LabelHelper.Text("OptionLabel"))
                            .AutoBind(true)
                            .Template("#if(data.Custodian == \"" + LabelHelper.Text("OptionLabel") + "\")" +
                                       "{#<span class=\"k-state-default\">#:data.Custodian#</span>#}" +
                                       "else {# <span class=\"k-state-default\">#:data.Custodian# #:data.Name#</span> #}#")
                            .Events(events => events.Change("onCnsMonitorChange").DataBound("onCnsMonitorDefaultLoad").Open("onContraEntityAutoCompleteResize"))
                            .DataSource(dataSource => dataSource
                            .Read(read => read
                            .Action("Read_EntityDropdown", "ContraEntity", new { area = "DomesticTrading" })))
                            .SelectedIndex(0).ToHtmlString());

        items.Add().Template(
        "<table><tr><td>" +
        LabelHelper.LabelFor("TickerSearch", "CnsMonitorSecuritySearchTextBox").ToHtmlString() + "</td><td>" +
        Html.Kendo().AutoComplete().Name("CnsMonitorSecuritySearchTextBox").HtmlAttributes(new { @class = "width90" }).Events(eve => eve.Filtering("onCnsMonitorSearchChange")).Suggest(true).ToHtmlString() + "</td></tr></table>"
        ).HtmlAttributes(new { @class = "tickerSearch-Text" });
    }))

<hr class="hr-white">

<div id="CnsMonitorContent" class="grid-div">
    @(
 Html.Kendo().Grid<BondFire.Entities.Projections.SL_CnsMonitorProjection>()
        .Name("CnsMonitorGrid")
        .Sortable()
        .HtmlAttributes(new { @class = "grid" })
        .Scrollable(scroll => scroll.Virtual(true))
        .Filterable()
        .NoRecords()
        .Editable(edit => edit.Enabled(true).Mode(GridEditMode.InCell))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
        .Navigatable()
                    .ColumnMenu(menu =>
                    {
                        menu.Columns(true);
                        menu.Filterable(true);
                        menu.Sortable(true);
                    })
                .Events(events =>
                {
                    events.Change("onCnsMonitorRowChange");
                    events.DataBound("onCnsMonitorCheckData");
                    events.ColumnHide("onCnsMonitorGridLayoutChange");
                    events.ColumnShow("onCnsMonitorGridLayoutChange");
                    events.ColumnResize("onCnsMonitorGridLayoutChange");
                    events.ColumnReorder("onCnsMonitorGridLayoutChange");
                })
        .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))
        .Columns(columns =>
        {
            columns.Bound(x => x.EffectiveDate).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.EntityId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.IssueId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.DtccEligible).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.StartOfDayCnsSettledFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(StartOfDayCnsSettledFtd)#", "");
            columns.Bound(x => x.CurrentCnsSettledFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(CurrentCnsSettledFtd)#", "");
            columns.Bound(x => x.CnsFtdDC).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(CnsFtdDC)#", "");
            columns.Bound(x => x.CurrnetCnsSettledFtr).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(CurrnetCnsSettledFtr)#", "");
            columns.Bound(x => x.CnsFtrDC).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(CnsFtrDC)#", "");
            columns.Bound(x => x.Rule204FtdDC).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(Rule204FtdDC)#", "");
            columns.Bound(x => x.LastDateTimeId).GetColumnFormat(ColumnTypeEnum.DateTime, false, "", "");
            columns.Bound(x => x.LastUserName).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.LastComment).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
        })
         .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(50)
            .ServerOperation(false)
            .AutoSync(true)
            .Events(events => events.Error("onCnsMonitorError"))
            .Aggregates(agg =>
            {
                agg.Add(x => x.CurrentCnsSettledFtd).Sum();
                agg.Add(x => x.CurrnetCnsSettledFtr).Sum();

                agg.Add(x => x.StartOfDayCnsSettledFtd).Sum();
            })
            .Model(model =>
            {
                model.Id(x => x.IssueId);

                model.Field(x => x.EffectiveDate).Editable(false);
                model.Field(x => x.EntityId).Editable(false);
                model.Field(x => x.IssueId).Editable(false);
                model.Field(x => x.SecurityNumber).Editable(false);
                model.Field(x => x.Ticker).Editable(false);
                model.Field(x => x.DtccEligible).Editable(false);
                model.Field(x => x.StartOfDayCnsSettledFtd).Editable(false);
                model.Field(x => x.CurrentCnsSettledFtd).Editable(false);
                model.Field(x => x.CnsFtdDC).Editable(false);
                model.Field(x => x.CurrnetCnsSettledFtr).Editable(false);
                model.Field(x => x.CnsFtrDC).Editable(false);
                model.Field(x => x.LastDateTimeId).Editable(false);
                model.Field(x => x.LastUserName).Editable(false);
                model.Field(x => x.Rule204FtdDC).Editable(false);
                model.Field(x => x.LastComment).Editable(true);

            })
            .Update(update => update.Action("Update_CnsMonitor", "Cns", new {area="Compliance" }))
            .Read(read => read.Action("Read_CnsMonitor", "Cns", new { area = "Compliance" }).Data("additionalCnsMonitorData")))
    )
</div>



@(Html.Kendo().ContextMenu()
.Name("CnsMonitorContextMenuSelect")
.Orientation(ContextMenuOrientation.Vertical)
.Target("#CnsMonitorGrid")
.Events(events => events.Select("onCnsMonitorContextMenuSelect"))
.Items(items =>
{
    items.Add().Text("AutoFit Columns");
    items.Add().Text("Unsort");
    items.Add().Text("Reset Filter");
    items.Add().Text("Reset Grid");
    items.Add().Separator(true);
    items.Add().Text("Select All");
    items.Add().Text("Export To Excel");
}))


