@using SLTrader.Tools
@using SLTrader.Enums


<style scoped>
    .label {
        padding-left: 5px;
    }

    #InformationReturnActionButton.zeroclipboard-is-hover {
        background-color: #1ba1e2;
    }
</style>
<script>

    var _originalIssueInformationReturnActionDetails = null;
    var _IssueInformationReturnActionDetailsSelectAll = false;

    $(document).ready(function () {
        setTimeout(function () {
            _originalIssueInformationReturnActionDetails = $('#IssueInformationReturnActionDetails').data('kendoGrid').getOptions();

            LoadGridLayout("#IssueInformationReturnActionDetails");

            var labelReturnAcion = '@LabelHelper.Text("ReturnAction")';

            $(".k-grid-toolbar", "#IssueInformationReturnActionDetails").append("<label>" + labelReturnAcion + "</label>");

            RefreshGrid("#IssueInformationReturnActionDetails");
        }, 5);

        var clientInformationReturnActionButton = new ZeroClipboard(document.getElementById("InformationReturnActionButton"));

        clientInformationReturnActionButton.on("ready", function (readyEvent) {
            clientInformationReturnActionButton.on("copy", function (event) {
                var data = KendoGridToText("#IssueInformationReturnActionDetails", "IssueInformationReturnActionDetails", false);
                clientInformationReturnActionButton.setText(data);
            });
        });
    });

    function additionalInformationReturnActionData() {
        var datepicker = $("#InformationCalander").data("kendoDatePicker");
        var value = kendo.toString(datepicker.value(), 'yyyy-MM-dd');

        var entityId = $("#InformationDropdownList").data("kendoDropDownList").value();
        var criteria = document.getElementById('IssueInformationSecuritySearchTextBox').value;


        return {
            effectiveDate: value,
            entityId: entityId,
            criteria: criteria
        }
    }

    function onIssueInformationReturnActionDetailGridLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#IssueInformationReturnActionDetails");
        }, 5);
    }

    function IssueInformationReturnActionDetailsContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'AutoFit Columns':
                resizeGridColumns("#IssueInformationReturnActionDetails");
                break;

            case 'Unsort':
                onIssueInformationUnsortGrid("#IssueInformationReturnActionDetails");
                break;

            case "Reset Filter":
                ResetFilter("#IssueInformationReturnActionDetails");
                break;

            case "Reset Grid":
                ResetUserLayout("#IssueInformationReturnActionDetails");
                $('#IssueInformationReturnActionDetails').data('kendoGrid').setOptions(_originalIssueInformationReturnActionDetails);
                $('#IssueInformationReturnActionDetails').data("kendoGrid").dataSource.read();

                $(".k-grid-toolbar", "#IssueInformationReturnActionDetails").append("<label>" + '@LabelHelper.Text("ReturnAction")' + "</label>");
                break;

            case 'Select All':
                onIssueInformationSelectAll("#IssueInformationReturnActionDetails", _IssueInformationReturnActionDetailsSelectAll);
                break;

            case 'Export To Excel':
                onIssueInformationExcel("#IssueInformationReturnActionDetails", "IssueInformationReturnActionDetails", _IssueInformationReturnActionDetailsSelectAll);
                break;
        }
    }

</script>
<div class="height100p width100p">
    @(Html.Kendo().Grid<BondFire.Entities.Projections.SL_ReturnActionExtendedProjection>()
                                         .Name("IssueInformationReturnActionDetails")
                                 .HtmlAttributes(new { @class = "grid" })
                                 .Sortable(sort =>
                                 {
                                     sort.AllowUnsort(true);
                                     sort.Enabled(true);
                                     sort.SortMode(GridSortMode.MultipleColumn);
                                 })
                                 .Scrollable(scrollable => scrollable.Enabled(true))
                                 .Filterable()
                                 .Navigatable()
                                 .AutoBind(false)
                                             .ToolBar(t =>
                                             {
                                                 t.Template("<label></label>");
                                             })
                                 .ColumnMenu(menu =>
                                 {
                                     menu.Columns(true);
                                     menu.Filterable(true);
                                     menu.Sortable(true);
                                     menu.ComponentType( "modern" );
                                 } )
                                 .NoRecords()
                                           .Events(events =>
                                           {
                                               events.ColumnHide("onIssueInformationReturnActionDetailGridLayoutChange");
                                               events.ColumnShow("onIssueInformationReturnActionDetailGridLayoutChange");
                                               events.ColumnResize("onIssueInformationReturnActionDetailGridLayoutChange");
                                               events.ColumnReorder("onIssueInformationReturnActionDetailGridLayoutChange");
                                           })

                                 .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
                                 .Columns(columns =>
                                 {
                                     columns.Bound(p => p.SLReturnAction).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                                     columns.Bound(p => p.EffectiveDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "").Hidden(true);
                                     columns.Bound(p => p.EntityId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                                     columns.Bound(p => p.ContraEntity).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.IssueId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                                     columns.Bound(p => p.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.ContractNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.TradeType).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.Quantity).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(Quantity)#", "");
                                     columns.Bound(p => p.Amount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(Amount)#", "");
                                     columns.Bound(p => p.BorrowQuantityCalled).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(BorrowQuantityCalled)#", "");
                                     columns.Bound(p => p.BorrowQuantityCalledAmount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(BorrowQuantityCalledAmount)#", "");
                                     columns.Bound(p => p.BorrowQuantityMade).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(BorrowQuantityMade)#", "").Hidden(true);
                                     columns.Bound(p => p.BorrowQuantityMadeAmount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(BorrowQuantityMadeAmount)#", "").Hidden(true);

                                     columns.Bound(p => p.LoanQuantityCalled).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(LoanQuantityCalled)#", "");
                                     columns.Bound(p => p.LoanQuantityCalledAmount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(LoanQuantityCalledAmount)#", "");
                                     columns.Bound(p => p.LoanQuantityMade).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(LoanQuantityMade)#", "").Hidden(true);
                                     columns.Bound(p => p.LoanQuantityMadeAmount).GetColumnFormat(ColumnTypeEnum.Money, true, "#=GetMoneyDirection(LoanQuantityMadeAmount)#", "").Hidden(true);
                                     columns.Bound(p => p.ReturnType).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.DeliveryViaCode).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                                     columns.Bound(p => p.BatchCode).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.StatusMain).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                                     columns.Bound(p => p.DateTimeId).GetColumnFormat(ColumnTypeEnum.Time, false, "", "");
                                 })
                                 .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))
                                 .DataSource(dataSource => dataSource
                                 .Ajax()
                                 .ServerOperation(false)
                                                 .Read(read => read.Action("Read_ReturnActionByCriteria", "ReturnAction", new { area = "DomesticTrading" }).Data("additionalInformationReturnActionData"))
                                                 .Aggregates(agg =>
                                                 {
                                                     agg.Add(x => x.Quantity).Sum();
                                                     agg.Add(x => x.Amount).Sum();
                                                     agg.Add(x => x.BorrowQuantityCalled).Sum();
                                                     agg.Add(x => x.BorrowQuantityCalledAmount).Sum();
                                                     agg.Add(x => x.BorrowQuantityMade).Sum();
                                                     agg.Add(x => x.BorrowQuantityMadeAmount).Sum();
                                                     agg.Add(x => x.LoanQuantityCalled).Sum();
                                                     agg.Add(x => x.LoanQuantityCalledAmount).Sum();
                                                     agg.Add(x => x.LoanQuantityMade).Sum();
                                                     agg.Add(x => x.LoanQuantityMadeAmount).Sum();
                                                 })
                                ))
</div>

@(
 Html.Kendo().ContextMenu()
.Name("IssueInformationReturnActionDetailsContextMenu")
    .Target("#IssueInformationReturnActionDetails")
.Events(events => events.Select("IssueInformationReturnActionDetailsContextMenuSelect"))
.Items(items =>
{
    items.Add().Text("AutoFit Columns");
    items.Add().Text("Unsort").Enabled(true);
    items.Add().Text("Reset Filter").Enabled(true);
    items.Add().Text("Reset Grid").Enabled(true);
    items.Add().Text("Select All").Enabled(true);
    items.Add().Separator(true);
    items.Add().Text("Copy").Enabled(true).HtmlAttributes(new { ID = "InformationReturnActionButton" });
    items.Add().Text("Export To Excel").Enabled(true);
}))

