@using SLTrader.Tools
@model string


<script>
    function onInventoryRateListSubmit() {  
        var items = document.getElementById('InventoryRateListTextBox').value;

        $('#InventoryRateStatusLabel').html('<i class="fa fa-spinner fa-spin"></i> Processing...');
        $('#InventoryRateListButton').data("kendoButton").enable(false);

        if (items != '') {
            $.ajax({
                url: '/Locates/Locates/UploadInventoryRateList',
                data: JSON.stringify({
                    entityId: '@Model',
                    inventoryRateList: items,
                }),
                contentType: 'application/json;',
                type: "POST",
                success: function (e) {
                    $('#InventoryRateStatusLabel').html('');
                    $("#InventoryRateStatusLabel").text(e.Message);

                    var bodyText = "";
                    var errorCount = 0;

                    $.each(e.RejectedItems, function (i, obj) {
                        bodyText += obj.SecurityNumber + " " + obj.Quantity + "\r\n";
                        errorCount++;
                    });

                    if (errorCount > 0)
                    {
                        $("#InventoryRateStatusLabel").text(e.Message + ". Please review unprocessed items above.");
                    }
                    else
                    {
                        $('#LocalDetailWindow').data("kendoWindow").close();
                    }

                    $('#InventoryRateListButton').data("kendoButton").enable(true);
                    $("#InventoryRateListTextBox").val(bodyText);
                },
                error: function (e) {
                    $('#InventoryRateStatusLabel').html('<i class="fa fa-times"></i> Error Processing - invalid format!');
                    $('#InventoryRateListButton').data("kendoButton").enable(true);
                }
            });
        }
        else {
            $("#InventoryRateStatusLabel").text("Please enter a source.");
            $('#InventoryRateListButton').data("kendoButton").enable(true);
        }
    }
</script>

<style scoped>
    #InventoryRateTable {
        border-collapse: collapse;
        width: 100%;
    }

        #InventoryRateTable th,
        #InventoryRateTable td {
            min-height: 50px;
            padding: 5px 0px 0px 5px;
        }

    #InventoryRateTableWrapper {
        width: 100%;
        min-width: 300px;
    }

    #InventoryRateStatusLabel {
        max-width: 300px;
        width: 300px;
        font-style: normal;
        white-space: pre-wrap;
        border: 1px solid #ccc;
        height: 50px;
    }
</style>

<div id="InventoryRateTableWrapper">
    <table id="InventoryRateTable">
        <tr>
            <td>
                @Html.Kendo().TextArea().Name("InventoryRateListTextBox").HtmlAttributes( new { style = "height:300px;width:100%;" })
            </td>
        </tr>
        <tr>
            <td colspan="2">@LabelHelper.Label("Status")</td>
        </tr>
        <tr>
            <td>
                <label id="InventoryRateStatusLabel"></label>
            </td>
        </tr>
        <tr>
            <td align="right">
                @Html.Kendo().Button().Name("InventoryRateListButton").Content(LabelHelper.Text("InventoryRateListSubmit")).Events(e => e.Click("onInventoryRateListSubmit"))
            </td>
        </tr>
    </table>
</div>