@using SLTrader.Tools
@using BondFire.Entities.Projections

@model List<SL_AutoBorrowOrderSummaryHistoryProjection>

<style scoped>
    #AutoBorrowDefaultOptionsTable td {
        padding-left:5px;     
        padding-right:0px;     
    }
</style>
<div id="AutoBorrowSummaryHistoryDiv" class="table-form">
  @(Html.Kendo().Grid(Model)
      .Name("AutoBorrowSummaryHistoryGird")
      .Columns( cols =>
      {
          cols.Bound(x => x.ContraEntity).GetColumnFormat(SLTrader.Enums.ColumnTypeEnum.String, false, "", "");
          cols.Bound(x => x.AccountName).GetColumnFormat(SLTrader.Enums.ColumnTypeEnum.String, false, "", "");
          cols.Bound(x => x.ThirtyDayApprovalQuantity).GetColumnFormat(SLTrader.Enums.ColumnTypeEnum.Position, false, "", "");
          cols.Bound(x => x.SixtyDayApprovalQuantity).GetColumnFormat(SLTrader.Enums.ColumnTypeEnum.Position, false, "", "");
          cols.Bound(x => x.NinetyDayApprovalQuantity).GetColumnFormat(SLTrader.Enums.ColumnTypeEnum.Position, false, "", "");
      })
      .DataSource(ds =>
      {
          ds.Ajax();          
      })
    )
</div>