<div id="FailMasterContentArea">

</div>


<style scoped>
    #FailMasterContentArea {
        height:100%;
        border:0px;
        margin-left:auto;
        margin-right:auto;
        align-content:center;
        background-color:gray;
    }
</style>