@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools

<script type="text/javascript">
    var _originalClientPublishGrid = null;
    var _originalClientPublishToolBar = null;

    $('#SharedLabelCheckBox').change(function () {
        RefreshGrid("#ClientPublishGrid");
    });

    $(document).ready(function () {
        setTimeout(function () {
            _originalClientPublishGrid = $("#ClientPublishGrid").data('kendoGrid').getOptions();
            _originalClientPublishToolBar = $("#ClientPublishGrid .k-grid-toolbar").html();

            LoadGridLayout("#ClientPublishGrid");

            $("#ClientPublishGrid .k-grid-toolbar").html(_originalClientPublishToolBar);
            $("#ClientPublishGrid .k-grid-toolbar").addClass("k-grid-top");
        }, 5);
    });

    function onClientPublishLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#ClientPublishGrid");
        }, 5);
    }

    function onClientPublishCheckData() {
        CheckGridData('#ClientPublishGrid');
    }

    function createQuickFilterData() {
        var entity = $("#ClientPublishDropdownList").data("kendoDropDownList").value();

        return {
            entityId: entity,           
        };
    }

    function additionalClientPublishData() {
        var entity = $("#ClientPublishDropdownList").data("kendoDropDownList").value();

        return {
            entityId: entity
        };
    }

    function onClientPublishEdit(e) {
        var input = e.container.find("input");
        setTimeout(function () {
            input.select();
        }, 25);
    }

    function onClientPublishDefaultLoad() {
        try {
            var userPreference;

            $.ajax({
                url: '/Header/Header/GetUserPreference',
                type: 'POST',
                contentType: 'application/json;',
                success: function(valid) {
                    userPreference = valid;

                    var dropdownList = $('#ClientPublishDropdownList').data("kendoDropDownList");

                    dropdownList.select(function(dataItem) {
                        return dataItem.CompanyId == userPreference.DefaultFirm;
                    });

                    $('#ClientPublishGrid').data("kendoGrid").dataSource.read();
                },
                error: function(valid) {
                    userPreference = null;
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onClientPublishChange() {
        $("#ClientPublishGrid").data("kendoGrid").dataSource.read();
    }
   

    function onClientPublishContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'AutoFit Columns':
                resizeGridColumns("#ClientPublishGrid");
                break;

            case "Reset Filter":
                ResetFilter("#ClientPublishGrid");
                break;

            case "Reset Grid":
                ResetUserLayout("#ClientPublishGrid");

                $("#ClientPublishGrid").data('kendoGrid').setOptions(_originalClientPublishGrid);
                $("#ClientPublishGrid .k-grid-toolbar").html(_originalClientPublishToolBar);
                $("#ClientPublishGrid .k-grid-toolbar").addClass("k-grid-top");
                $('#ClientPublishGrid').data("kendoGrid").dataSource.read();
                break;

            case 'Unsort':
                UnsortGrid("#ClientPublishGrid");
                break;
        }
    }
</script>

@(
 Html.Kendo().ToolBar()
    .Name("ClientPublishToolBar")
    .Resizable(true)
    .Items(items =>
    {
        items.Add().Template(LabelHelper.Label("Entity").ToHtmlString());
        items.Add().Template(Html.Kendo().DropDownList()
                            .Name("ClientPublishDropdownList")                            
                            .DataTextField("Custodian")
                            .DataValueField("CompanyId")
                            .OptionLabel(LabelHelper.Text("OptionLabel"))
                            .AutoBind(true)
                                .Template("#if(data.Custodian == \"" + LabelHelper.Text("OptionLabel") + "\")" +
                                       "{#<span class=\"k-state-default\">#:data.Custodian#</span>#}" +
                                       "else {# <span class=\"k-state-default\">#:data.Custodian# #:data.Name#</span> #}#")
                            .Events(events => events.Change("onClientPublishChange").DataBound("onClientPublishDefaultLoad").Open("onContraEntityAutoCompleteResize"))
                            .DataSource(dataSource => dataSource
                            .Read(read => read
                            .Action("Read_EntityDropdown", "ContraEntity", new { area = "DomesticTrading" })))
                            .SelectedIndex(0).ToHtmlString());
    }))

<hr class="hr-white">

<div id="QuickFilterContent" class="grid-div">
    @(
 Html.Kendo().Grid<SL_ClientPublish>()
        .Name("ClientPublishGrid")
        .Sortable()
        .HtmlAttributes(new { @class = "grid" })
        .Scrollable()
        .Filterable()
        .NoRecords()
        .ColumnMenu(menu =>
        {
            menu.Columns(true);
            menu.Filterable(true);
            menu.Sortable(true);
            menu.ComponentType( "modern" );
        } )
        .Editable(e => e.Mode(GridEditMode.InLine).Enabled(SessionSecurityService.IsEditable(ManagerTask.EditSLRule)))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Navigatable()
        .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))
        .Events(events =>
        {
            events.DataBound("onClientPublishCheckData");
            events.Edit("onClientPublishEdit");
            events.ColumnHide("onClientPublishLayoutChange");
            events.ColumnShow("onClientPublishLayoutChange");
            events.ColumnResize("onClientPublishLayoutChange");
            events.ColumnReorder("onClientPublishLayoutChange");
        })
        .ToolBar(toolbar => toolbar.Create())
        .Columns(columns =>
        {
            columns.Command(x =>
            {
                x.Edit();
            });
            columns.Bound(x => x.SLClientPublish).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.EntityId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.ReportName).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Destination).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.FileFormat).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.QuantityMin).GetColumnFormat(ColumnTypeEnum.Position, false, "", "");
            columns.Bound(x => x.QuantityHaircut).GetColumnFormat(ColumnTypeEnum.Rate, false, "", "");
            columns.Bound(x => x.SecurityCriteria).GetColumnFormat(ColumnTypeEnum.Rate, false, "", "");
            columns.Bound(x => x.LastProcessDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "");
            columns.Bound(x => x.OncePerDay).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Priority).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.DaysToRun).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.RunOnHoliday).GetColumnFormat(ColumnTypeEnum.String, false, "", "");

        })
         .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Read_ClientPublish", "ClientPublish", new { area = "DomesticTrading" }).Data("additionalClientPublishData"))
            .Update(update => update.Action("Update_ClientPublish", "ClientPublish", new { area = "DomesticTrading" }))
            .Create(create => create.Action("Create_ClientPublish", "ClientPublish", new { area = "DomesticTrading" }).Data("additionalClientPublishData"))
            .Model(model =>
            {
                model.Id(x => x.SLClientPublish);
                model.Field(x => x.EntityId).Editable(false);
                model.Field(x => x.Destination).Editable(true);
            }))
    )
</div>

@(Html.Kendo().ContextMenu()
.Name("ClientPublishContextMenu")
    .Target("#ClientPublishGrid")
    .Events(events => events.Select("onClientPublishContextMenuSelect"))
    .Items(items =>
    {
        items.Add().Text("AutoFit Columns");
        items.Add().Text("Unsort").Enabled(true);
        items.Add().Text("Reset Filter").Enabled(true);
        items.Add().Text("Reset Grid").Enabled(true);
    }))