<!DOCTYPE html>
<html>
<head>  

<title>SL Trader - Dashboard</title>	

</head>
    <body id="ContentArea">
    @{
            Html.RenderPartial("~/Areas/Dashboard/Views/Home/_Main.cshtml");
            RenderBody();
    }
   </body> 
</html>

