@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools

@model string

<script>
    function onSecurityAdd() {
        try {
            var criteria = $('#SecurityToAddTextBox').val();

            $.ajax({
                url: '/Compliance/Cns/Add_CnsExclusionList',
                type: 'POST',
                data: JSON.stringify({
                    entityId: '@Model',
                    criteria: criteria
                }),
                contentType: 'application/json;',
                success: function (valid) {
                    $('#CnsExclusionListGrid').data("kendoGrid").dataSource.read();
                    $('#LocalDetailWindow').data("kendoWindow").close();
                },
                error: function (valid) {
                    console.log(valid);
                }
            });
        }
        catch (e) {
            console.log(e);
        }
    }
</script>

<div id="SecurityAddDiv">
    <table>
        <tr>
            <td>@LabelHelper.Label("SecurityToAddLabel")</td>
            <td>@Html.Kendo().TextBox().Name("SecurityToAddTextBox")</td>
        </tr>
        <tr>
            <td colspan="2"><label id="StatusLabel"></label></td>
        </tr>
        <tr>
            <td colspan="2" align="right">@Html.Kendo().Button().Name("SecurityAddButton").Content(LabelHelper.Text("SecurityAddButton")).Events(ev => ev.Click("onSecurityAdd")).Enable(true)</td>
        </tr>
    </table>

</div>