@using SLTrader.Helpers.SessionHelper

<script>
    function onSelect(e) {
        e.preventDefault();

        var item = e.item.firstChild.pathname;
        var title = e.item.firstChild.textContent;

        try
        {
            if (item != undefined) {
                EnableMenuItem("#FailMasterMenu", title, false);
                AddTabFromMenu(item, title, title);
            }

        }
        catch (e) {
            alert(e.message);
        }
    }

    function EnableMenuItem(menu, menuItemText, isEnabled)
    {
        var items = $(menu).find(".k-link:contains(" + menuItemText + ")").parent();

        var menu = $(menu).data("kendoMenu");
        menu.enable(items, isEnabled);
    }

    function OpenWindow(url, title) {
        var wndCredit = $("#LocalWindow").data("kendoWindow");

        wndCredit.center().open();

        wndCredit.refresh({
            url: "@Url.Action("RetrievePartial", "Tab", new {Area = "DomesticTrading"})",
            data: {
                url: targetUrl
            }
        });
    }

    function AddTabFromMenu(targetUrl, title, menuItem) {
        var tabStrip = $("#FailMasterTabStrip").data("kendoTabStrip");
        var tabId = title.replace(/\s/g, '').replace(':', '');

        var innerText = title + "<i class='fa fa-times-circle' width='12px' height='12px' style='padding-left: 10px; border: 0px;' onclick='DeleteTab(this);'></i><span id='" + tabId + "'/>";
        var currentTab = $("#" + tabId).closest('.k-item');

        if (currentTab.length) {
            tabStrip.select(currentTab);
            resizeTabs("#FailMasterTabStrip", 40);
            EnableMenuItem("#FailMasterMenu", menuItem, true);
        } else {
            $.ajax({
                url: "@Url.Action("RetrievePartial", "Admin", new {Area = "Admin"})",
                data: {
                url: targetUrl
                },
            success: function (result) {

                tabStrip.append({
                    text: innerText,
                    encoded: false,
                    content: result,
                });

                resizeTabs("#FailMasterTabStrip", 40);

                tabStrip.select((tabStrip.tabGroup.children("li").length - 1));

                EnableMenuItem("#FailMasterMenu", menuItem, true);
            },
            error: function (e) {
                tabStrip.append({
                    text: innerText,
                    encoded: false,
                    content: e.responseText,
                });

                EnableMenuItem("#FailMasterMenu", menuItem, true);
            }
        });
    }
    }


    function AddTab(targetUrl, title) {
        var tabStrip = $("#FailMasterTabStrip").data("kendoTabStrip");
        var tabId = title.replace(/\s/g, '').replace(':', '');

        var innerText = title + "<i class='fa fa-times-circle' width='12px' height='12px' style='padding-left: 10px; border: 0px;' onclick='DeleteTab(this);'></i><span id='" + tabId + "'/>";
        var currentTab = $("#" + tabId).closest('.k-item');

        if (currentTab.length) {
            tabStrip.select(currentTab);
            resizeTabs("#FailMasterTabStrip", 40);
        } else {
            $.ajax({
                url: "@Url.Action("RetrievePartial", "Admin", new {Area = "Admin"})",
                data: {
                    url: targetUrl
                },
                success: function (result) {

                    tabStrip.append({
                        text: innerText,
                        encoded: false,
                        content: result,
                    });

                    resizeTabs("#FailMasterTabStrip", 40);

                    tabStrip.select((tabStrip.tabGroup.children("li").length - 1));
                },
                error: function (e) {
                    tabStrip.append({
                        text: innerText,
                        encoded: false,
                        content: e.responseText,
                    });
                }
            });
        }
    }

    function DeleteTab(imgObj) {
        var tabStrip = $("#FailMasterTabStrip").data("kendoTabStrip");

        var deleteIndex = $(imgObj).closest("li").index();
        tabStrip.remove(deleteIndex);

        if (deleteIndex > 0) {
            var nextTab = tabStrip.select(deleteIndex);

            if (nextTab.length) {
                tabStrip.select(deleteIndex);
            } else {
                tabStrip.select(deleteIndex - 1);
            }
        } else {
            tabStrip.select(0);
        }
    }
</script>

@(
    Html.Kendo().Menu()
        .Name("FailMasterMenu")
           .HoverDelay(100)
           .OpenOnClick(true)
           .Orientation(MenuOrientation.Horizontal)
           .Events(events => events.Select("onSelect"))           
           .BindTo("FailMasterWebSiteMap", (item, value) =>
             {

                 if (item.Url != null)
                 {
                     item.Enabled = SessionSecurityService.IsViewAble(item.Text);
                 }
             }))

<div id="FailMasterMenu" class="k-menu-vertical"></div>
