<script type="text/javascript">
    function onActivate(e) {
        resizeTabs("#MainTabStrip", 40);e
        $(e.contentElement).find('.k-state-active [data-role="grid"]').each(function () {
            $(this).data("kendoGrid").refresh();
        });
    }
</script>

@(  
    Html.Kendo().TabStrip()
        .Name("MainTabStrip")   
        .Scrollable(false)
        .Events(e => e.Activate("onActivate(this)").ContentLoad("onActivate(this)").Select("onActivate(this)"))
)
<div id="MainTabStrip"></div>
    <style scoped>
        #MainTabStrip {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100% auto;
            height: 100% auto;            
        }

        #MainTabStrip > .k-content {
                border: 0;
                position: absolute;
                top: 34px;
                bottom: 10px;
                left: 0;
                right: 0;
                margin-left:0px;
                margin-right:0px;
                width: 100% auto;
                height: 100% auto;
            }
    </style>