<!DOCTYPE html>
<html>
<head>  

<title>SL Trader - Dashboard</title>	

	<script src="@Url.Content("~/Scripts/kendo/2014.3.1425/jszip.min.js")"></script>
</head>
   <body>
    @{
            Html.RenderPartial("~/Areas/_Default/Views/Home/_Main.cshtml");
            RenderBody();
    }
   </body> 
</html>

