<!DOCTYPE html>
<html>
<head>  

<title>SL Trader - Administration</title>	

</head>
   <body id="ContentArea">
    @{
            Html.RenderPartial("~/Areas/Admin/Views/Home/_Main.cshtml");
            RenderBody();
    }
   </body> 
</html>
@(Html.Kendo().Window()
                .Name("ErrorWindow")
                .Visible(false)
                .Title("System Error")
                .Content(@<text>
                        <table>
                        <tr>
                        <td class="width100p" >
                        <label id="message"></label>
                        </td>
                        </tr>
                        <tr>
                        <td class="text-right" >
                        <button class="k-button" onclick="closeWindow()">OK</button>
                        </td>
                        </tr>
                        </table>
                        </text>))



