<script type="text/javascript">
    function onActivate(e) {
        resizeTabs("#RebateBillingTabStrip", 40);
        $(e.contentElement).find('.k-state-active [data-role="grid"]').each(function () {
            $(this).data("kendoGrid").refresh();
        });
    }
</script>

@(
 Html.Kendo().TabStrip()
            .Name("RebateBillingTabStrip")
        .Animation(animation =>
            {
                animation.Open(openEffect => openEffect.Fade(FadeDirection.In));
                animation.Close(closeEffect => closeEffect.Fade(FadeDirection.Out));
            })
        .Events(e => e.Activate("onActivate(this)").ContentLoad("onActivate(this)").Select("onActivate(this)"))
)

<div id="RebateBillingTabStrip"></div>
<style scoped>
    #RebateBillingTabStrip {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
    }

        #RebateBillingTabStrip > .k-content {
            border: 0px;
            position: absolute;
            top: 34px;
            bottom: 10px;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
        }
</style>