@using BondFire.Entities.Projections
@using SLTrader.Enums
@using SLTrader.Tools


<script type="text/javascript">
    var failSelectAll = false;

    function onFailCheckData(e) {
        CheckGridData('#FailDetails');
    }

    function additionalFailData() {

        var datepicker = $("#FailCalander").data("kendoDatePicker");
        var effectiveDate = kendo.toString(datepicker.value(), 'yyyy-MM-dd');

        var entity = $("#FailDropdownList").data("kendoDropDownList").value();

        return {
            effectiveDate: effectiveDate,
            entityId: entity,
        }
    }

    function onFailError(e) {
        console.log(e.message);
    }

    function onFailRowChange(e) {
        failSelectAll = false;

        var entityGrid = $("#FailDetails").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());

        var entityId = selectedItem["EntityId"];
        var securityNumber = selectedItem["SecurityNumber"];
        var issueId = selectedItem["IssueId"];
        var effectiveDate = selectedItem["EffectiveDate"];


        UpdateIssue(securityNumber);
        UpdateBox(effectiveDate, entityId, issueId);
        UpdateTrading(entityId, issueId);
        UpdateSharedView(entityId, securityNumber);
    }

    function onFailDefaultLoad() {
        try {
            var UserPreference;

            $.ajax({
                url: '/Header/Header/GetUserPreference',
                type: 'POST',
                contentType: 'application/json;',
                success: function (valid) {
                    UserPreference = valid;

                    var dropdownList = $('#FailDropdownList').data("kendoDropDownList");

                    dropdownList.select(function (dataItem) {
                        return dataItem.CompanyId == UserPreference.DefaultFirm;
                    });

                    $('#FailDetails').data("kendoGrid").dataSource.read();
                },
                error: function (valid) {
                    UserPreference = null;
                }
            })
        }
        catch (e) {
            console.log(e.message);
        }
    };

    function onFailSelectAll() {
        try {
            var contractGrid = $("#FailDetails").data("kendoGrid");
            contractGrid.select(contractGrid.tbody.find(">tr"));

            failSelectAll = true;
        }
        catch (e) {
            console.log(e.message);
        }
    }


    function onFailContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'Unsort':
                onFailUnsortGrid("#FailDetails");
                break;

            case 'Select All':
                onFailSelectAll();
                break;

            case 'Export To Excel':
                exportToFailExcel();
                break;
        }
    }

    var hiddenColumns = false;

    function  onFailUnsortGrid(e)
    {
        UnsortGrid(e);
    }

    function onFailChange() {
        $("#FailDetails").data("kendoGrid").dataSource.read();
    }

    function exportToFailExcel() {
        KendoGridToCSVConvertor("#FailDetails", 'FailDetails', failSelectAll);
    }

    $('#SharedLabelCheckBox').change(function () {
        $("#FailDetails").data("kendoGrid").refresh();
    })
</script>


@(
 Html.Kendo().ToolBar()
    .Name("FailToolBar")
    .Resizable(true)
    .HtmlAttributes(new { @class = "tBar" })
    .Items(items =>
    {
        items.Add().Template(LabelHelper.Label("EffectiveDate").ToHtmlString());

        items.Add().Template(Html.Kendo().DatePicker()
            .Name("FailCalander")
            .Format("yyyy-MM-dd")
            .Value(DateTime.Now)
            .HtmlAttributes(new { @class = "Toolbar-Cell" })
            .Events(events => events.Change("onFailChange")).ToHtmlString());

        items.Add().Template(LabelHelper.Label("Entity").ToHtmlString());

        items.Add().Template(Html.Kendo().DropDownList()
    .Name("FailDropdownList")
    .HtmlAttributes(new { @class = "Toolbar-Cell" })
    .Animation(true)
    .DataTextField("Custodian")
    .DataValueField("CompanyId")
    .OptionLabel("Empty List")
    .AutoBind(true)
    .Events(events => events.Change("onFailChange").DataBound("onFailDefaultLoad"))
    .DataSource(dataSource => dataSource
    .Read(read => read
    .Action("Read_EntityDropdown", "ContraEntity", new { area = "DomesticTrading" })))
    .SelectedIndex(0).ToHtmlString());
    }))

<hr class="hr-white">
<div id="FailContent" class="grid-div">

    @(Html.Kendo().Grid<SL_RebateBillingFailProjection>()
        .Name("FailDetails")
        .HtmlAttributes(new { @class = "grid" })
        .Sortable(sort =>
               {
                   sort.AllowUnsort(true);
                   sort.Enabled(true);
                   sort.SortMode(GridSortMode.MultipleColumn);
               })
        .Scrollable(scrollable => scrollable.Virtual(true).Enabled(true))
        .Filterable()
        .Navigatable()
        .Events(events => events.Change("onFailRowChange").DataBound("onFailCheckData"))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row))
        .Columns(columns =>
        {
            columns.Bound(x => x.EffectiveDate).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");      
            columns.Bound(x => x.EntityId).Hidden(true).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.ClearingFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(ClearingFtd)#", "");
            columns.Bound(x => x.BrokerFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(BrokerFtd)#", "");
            columns.Bound(x => x.DvpFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(DvpFtd)#", "");
            columns.Bound(x => x.OtherFtd).GetColumnFormat(ColumnTypeEnum.Position, true, "#=GetPositionDirection(OtherFtd)#", "");
        })
        .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))
        .Pageable(page =>
        {
            page.PageSizes(false);
            page.Enabled(true);
            page.Numeric(false);
            page.PreviousNext(false);
            page.Info(false);
        })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(100)
        .ServerOperation(false)
        .Read(read => read.Action("Read_FailExtendedSummary", "RebateBilling", new { area = "RebateBilling" }).Data("additionalFailData"))
        .Events(events => events.Error("onFailError"))            
        .Aggregates(s =>
            {
                s.Add(x => x.ClearingFtd).Sum();
                s.Add(x => x.BrokerFtd).Sum();
                s.Add(x => x.DvpFtd).Sum();
                s.Add(x => x.OtherFtd).Sum();
           })))
</div>

@(
 Html.Kendo().ContextMenu()
.Name("FailContextMenu")
    .Target("#FailDetails")
.Events(events => events.Select("onFailContextMenuSelect"))
.Items(items =>
{
    items.Add().Text("Unsort").Enabled(true);
    items.Add().Text("Select All").Enabled(true);
    items.Add().Text("Export To Excel").Enabled(true);
})
)





