@using SLTrader.Tools
@using SLTrader.Helpers.SessionHelper;

@using EnumExtensions = SLTrader.Tools.EnumExtensions
@model int

<script type="text/javascript">
    function onManagerTask() {
        var roleId = '@Model';

        return {
            roleId: roleId,
        };
    }

    function onAddManagerTask() {
        var entity = $("#AvailableManagerTaskDropdown").data("kendoDropDownList").value();
        var userRoleId = '@Model';

           $.ajax({
               url: '/Admin/Admin/AddTaskToUserRoleType',
               data: JSON.stringify({ userRoleTypeId: userRoleId, managerTask: entity, }),
               contentType: 'application/json;',
               type: "POST",
               async:false,
               success: function () {
                   DisplayControllerByStringError("", "Manager task assigned");
               },
               error: function () {
                   DisplayControllerByStringError("", "Manager task failed");
               }
           });

           $('#ManagerTaskGrid').data('kendoGrid').dataSource.read();
    }

       function onAddManagerTask() {
           var entity = $("#AvailableManagerTaskDropdown").data("kendoDropDownList").value();

        var userRoleId = '@Model';

           $.ajax({
               url: '/Admin/Admin/AddTaskToUserRoleType',
               data: JSON.stringify({ userRoleTypeId: userRoleId, managerTask: entity, }),
               contentType: 'application/json;',
               type: "POST",
               async:false,
               success: function () {
                   DisplayControllerByStringError("", "Manager task assigned");
               },
               error: function () {
                   DisplayControllerByStringError("", "Manager task failed");
               }
           });

           $('#ManagerTaskGrid').data('kendoGrid').dataSource.read();
    }
</script>

@(Html.Kendo().Grid<ManagerModel>()
            .Name("ManagerTaskGrid")            
            .Scrollable()
            .NoRecords()
            .ToolBar(toolbar => {
                toolbar.Template(@<text>
                    <table>
                        <tr>
                    <td>@LabelHelper.Label("AvailableManagerTasks")</td>
                    <td>
                        @(Html.Kendo().DropDownList()
                              .Name("AvailableManagerTaskDropdown")
                              .DataTextField("Text")
                              .DataValueField("Value")
                              .BindTo(EnumExtensions.GetEnumSelectList<ManagerTask>()))
                    </td>
                    <td>@Html.Kendo().Button().Name("AddManagerTaskCommand").Content("Add Task").Events(events => events.Click("onAddManagerTask"))</td>
                    </tr>
                            </table>
                        </text>);
            })
            .Columns(cols =>
            {
                cols.Bound(x => x.ManagerId);
                cols.Bound(x => x.Name);

                if (SessionSecurityService.IsEditable(ManagerTask.DeleteUserRole))
                {
                    cols.Command(x => x.Custom("Remove").Click("onUserRoleTaskRemove"));
                }
            })
            .DataSource(dataSource => dataSource.Ajax()
                .Read(read => read.Action("LoadManagerTaskByRoleId", "Admin", new { area = "Admin" }).Data("onManagerTask"))))
 <label id="ManagerTaskStatusLabel"></label>
