@using SLTrader.Tools
@model UserRoleType

<script  type="text/javascript">
    function onUserRoleTypeSubmit() {
        var form = $("#UserRoleTypeForm");

        $.ajax({
        url: '/Admin/Admin/AddUserRoleType',
            data: form.serializeArray(),
            type: "POST",
            success: function () {
                $("#UserRoleTypeLabel").text("User Role Type added.");
            },
            error: function () {
                $("#UserRoleTypeLabel").text("User Role Type failed.");
            }
        });
    }

    function onCancel() {

    }
</script>

<div class="div-admin-shared">
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "UserRoleTypeForm" }))
{
    <table>
    <tr>
        <td>@LabelHelper.Label("Description")</td>
        <td>@Html.TextBoxFor(x => x.Description, new { @class = "k-textbox"})</td>
    </tr>
         <tr>
       <td>
           <label id="UserRoleTypeLabel"></label>
        </td>
    </tr>
    <tr>
       <td>
            <a href="#" onclick="onUserRoleTypeSubmit()" class="k-button">@LabelHelper.Text("PostUserToleTypeChange")</a>
        </td>
    </tr>
    </table>
    
    @Html.HiddenFor(x => x.UserRoleTypeId)
}
</div>