@(Html.Kendo().Window()
      .Name("InvalidBrowserWindow")
      .Modal(true)
      .Resizable(builder => builder.Enabled(false))
      .Actions(action => action.Clear())      
      .Animation(anime =>
      {
          anime.Open(open => open.SlideIn(SlideDirection.Up).Duration(AnimationDuration.Slow));
          anime.Close(close => close.Reverse(true).Duration(AnimationDuration.Slow));
      })
      .AutoFocus(true)
      .Draggable(false)
      .Title("Unsupported Resolution")
      .Visible(false)
      .Content(@<text>
        
        <div class="text-center">
            <i class="fa  fa-frown-o fa-4x"></i>
            <br/>
           <h3>Current resolution @Request.Browser.ScreenPixelsWidth x @Request.Browser.ScreenPixelsHeight not supported!</h3>
            <br/>
           <h3>HelixSL is optimized for resolution 640 x 400</h3>
        </div>
      </text>))



<script type="text/javascript">

    $(document).ready(function () {
        $("#InvalidBrowserWindow").data("kendoWindow").open();
        $("#InvalidBrowserWindow").data("kendoWindow").center();        
    });
</script>
