@(Html.Kendo().Window()
      .Name("InvalidBrowserWindow")
      .Modal(true)
      .Resizable(builder => builder.Enabled(false))
      .Actions(action => action.Clear())      
      .Animation(anime =>
      {
          anime.Open(open => open.SlideIn(SlideDirection.Up).Duration(AnimationDuration.Slow));
          anime.Close(close => close.Reverse(true).Duration(AnimationDuration.Slow));
      })
      .AutoFocus(true)
      .Draggable(false)
      .Title("Unsupported Browser")
      .Visible(false)
      .Content(@<text>
        
        <div class="text-left">
            <i class="fa fa-frown-o fa-4x"></i>
            <br />
            <br />
           <h4>@Request.Browser.Browser is not supported!</h4>
            <br/>
           <h4>HelixSL is optimized for Google Chrome</h4>
            <br/>
            <h4>Google Chrome can be downloaded <a href="https://www.google.com/chrome/browser/">here</a>.</h4>
        </div>
      </text>))

<script type="text/javascript">

    $(document).ready(function () {        
        $("#InvalidBrowserWindow").data("kendoWindow").open();
        $("#InvalidBrowserWindow").data("kendoWindow").center();
    });
</script>
