@using System.ComponentModel
@using System.Globalization
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Enums
@using SLTrader.Tools
@using SLTrader.Models
@using BondFire.Entities

@model SL_ContraEntity


<script>
    function onError(e) {
        alert(e);
    }

    function additionalData() {
        var contraEntityId = '@Model.SLContraEntity';

        return {
            contraEntityId: contraEntityId,
        }
    }

    function onContactGridRequestEnd(e) {
        $("#ContactGrid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var window = $("#LocalDetailWindow").data("kendoWindow");
        window.center();
    });
</script>

<style>
    #ContactDiv {
        max-width : 900px;
    }
</style>
<div id="ContactDiv">
    @(Html.Kendo().Grid<SL_Contact>()
            .Name("ContactGrid")
            .HtmlAttributes(new { style = "height:95%;" })
            .Sortable()
            .Scrollable()
            .Filterable()
            .Navigatable()
            .Resizable(resize =>
            {
                resize.Columns(true);
            })
            .Editable(edit => edit.Mode(GridEditMode.InLine))
              .Columns(columns =>
              {
                  columns.Bound(x => x.SLContact).Hidden(true);
                  columns.Bound(x => x.ContraEntity).Hidden(true);
                  columns.Bound(x => x.FirstName).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Bound(x => x.LastName).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Bound(x => x.Title).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Bound(x => x.Phone).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Bound(x => x.EMail).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Bound(x => x.SLContactType).GetColumnFormat(ColumnTypeEnum.String, false, "", "_ContractTypeDropdown");
                  columns.Bound(x => x.Comment).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                  columns.Command(command =>
                  {
                      command.Edit();
                      command.Destroy();
                  });
              })
              .ToolBar(toolbar => toolbar.Create())
              .DataSource(ds => ds.Ajax()
                  .ServerOperation(false)
                  .Events(ev => ev.Sync("onContactGridRequestEnd"))
                  .Model(x =>
                  {
                      x.Id(p => p.SLContact);
                      x.Field(p => p.SLContact).Editable(false);
                      x.Field(p => p.ContraEntity).DefaultValue(int.Parse(@Model.SLContraEntity.ToString(CultureInfo.InvariantCulture)));
                      x.Field(p => p.FirstName).DefaultValue(" ");
                      x.Field(p => p.LastName).DefaultValue(" ");
                      x.Field(p => p.Title).DefaultValue(" ");
                      x.Field(p => p.Phone).DefaultValue(" ");
                      x.Field(p => p.EMail).DefaultValue(" ");
                      x.Field(p => p.Comment).DefaultValue(" ");
                      x.Field(p => p.SLContactType).DefaultValue(SL_ContactType.BackOffice);
                  })
                  .Update(update => update.Action("Update_Contact", "Contact", new { area = "DomesticTrading" }))
                  .Destroy(destroy => destroy.Action("Delete_Contact", "Contact", new { area = "DomesticTrading" }))
                  .Create(create => create.Action("Add_Contact", "Contact", new { area = "DomesticTrading" }))
                  .Read(read => read.Action("Read_Contacts", "Contact", new { area = "DomesticTrading" }).Data("additionalData")))
    )
</div>