<div style="padding:20px;font-size:small;">
    <h2>Maximum number of items ( Max: @DataSystemValues.LoadSystemValue("BoxCalculationMaxItems", "1000")) allowed to be exported at one time has been been excceded<br /> Please break your list into smaller lists. </h2>
</div>