<div id="SharedDetailDiv">

</div>

<style scoped>
    #SharedDetailDiv {
        align-content:center;
        margin-right:auto;
        margin-left:auto;
        height:100%;
        width:100%;
    }
</style>