@model IEnumerable<ContractTrendModel>


<div id="SharedDetailContractTrendDiv" class="grid-div">

@(
 Html.Kendo().StockChart(Model)
.Name("FinanceInformationChart")
.Theme("black")
.HtmlAttributes(new { @class = "grid" })
.Title(title =>
    {
        if (Model.ToList().Any())
        {
            title.Text("[" + Model.ToList()[0].SecurityNumber + "] " + Model.ToList()[0].Ticker);
        }
    })
.Panes(panes =>
    {
        panes.Add("RatePane").Title("Rebate Rates").Height(100);
        panes.Add("VolumePane").Title("Balances").Height(100);
    })
  .Legend(leg =>
      {
          leg.Visible(true);
          leg.Position(ChartLegendPosition.Top);
      })
  .Navigator(nav => nav.Visible(false))
  .CategoryAxis(axis => axis.Pane("VolumePane"))
        .ValueAxis(axis => axis.Numeric("rateAxis").Pane("RatePane").Line(line => line.Visible(false)).Labels(label => label.Format("{0:00}%")))
        .ValueAxis(axis => axis.Numeric("volumeAxis").Pane("VolumePane").Visible(false))
 .Series(series =>
     {
         if (Model.Sum(x => x.BorrowAmount) > 0)
         {
             series.Line(x => x.BorrowRate).Axis("rateAxis").Style(ChartLineStyle.Smooth).Tooltip(tooltip => tooltip.Format("{0:0.000}%"));
         }

         if (Model.Sum(x => x.LoanAmount) > 0)
         {
             series.Line(x => x.LoanRate).Axis("rateAxis").Style(ChartLineStyle.Smooth).Tooltip(tooltip => tooltip.Format("{0:0.000}%"));
         }

         series.Column(x => x.BorrowAmount).Axis("volumeAxis").Tooltip(tooltip => tooltip.Format("{0:C0}"));
         series.Column(x => x.LoanAmount).Axis("volumeAxis").Tooltip(tooltip => tooltip.Format("{0:C0}"));
     })
  .DateField("EffectiveDate")
 )
</div>
