@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools
<script type="text/javascript">
    var _originalPCMatrixListGrid = null;
    var _originalPCMatrixListGridToolBar = null;

    $('#SharedLabelCheckBox').change(function () {
        RefreshGrid("#PCMatrixListGrid");
    });

    $(document).ready(function () {
        setTimeout(function () {
            _originalPCMatrixListGrid = $("#PCMatrixListGrid").data('kendoGrid').getOptions();
            _originalPCMatrixListGridToolBar = $("#PCMatrixListGrid .k-grid-toolbar").html();

            LoadGridLayout("#PCMatrixListGrid");

            $("#PCMatrixListGrid .k-grid-toolbar").html(_originalPCMatrixListGridToolBar);
            $("#PCMatrixListGrid .k-grid-toolbar").addClass("k-grid-top");
        }, 5);
    });

    function onPCMatrixListLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#PCMatrixListGrid");
        }, 5);
    }

    function onPCMatrixCheckData() {
        CheckGridData('#PCMatrixListGrid');
    }

    function createPCMatrixData() {
        var entity = $("#PCMatrixDropdownList").data("kendoDropDownList").value();

        return {
            entityId: entity,
            operatorId: '@Convert.ToInt32(SL_Operator.gte)'
        };
    }

    function additionalPCMatrixData() {
        var entity = $("#PCMatrixDropdownList").data("kendoDropDownList").value();

        return {
            entityId: entity
        };
    }

    function onPCMatrixEdit(e) {
        var input = e.container.find("input");
        setTimeout(function () {
            input.select();
        }, 25);
    }

    function onPCMatrixDefaultLoad() {
        try {
            var userPreference;

            $.ajax({
                url: '/Header/Header/GetUserPreference',
                type: 'POST',
                contentType: 'application/json;',
                success: function(valid) {
                    userPreference = valid;

                    var dropdownList = $('#PCMatrixDropdownList').data("kendoDropDownList");

                    dropdownList.select(function(dataItem) {
                        return dataItem.CompanyId == userPreference.DefaultFirm;
                    });

                    $('#PCMatrixListGrid').data("kendoGrid").dataSource.read();
                },
                error: function(valid) {
                    userPreference = null;
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onPCMatrixError(e) {
        DisplayControllerError(e);
    }

    function onPCMatrixChange() {
        $("#PCMatrixListGrid").data("kendoGrid").dataSource.read();
    }

    $(function () {
        $('#PCMatrixListGrid').on('click', '.enabledPCMatrixChkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#PCMatrixListGrid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            dataItem.set('IsActive', checked);
            dataSource.sync();
        });
    });

    function onPCMatrixListContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'AutoFit Columns':
                resizeGridColumns("#PCMatrixListGrid");
                break;

            case "Reset Filter":
                ResetFilter("#PCMatrixListGrid");
                break;

            case "Reset Grid":
                ResetUserLayout("#PCMatrixListGrid");

                $("#PCMatrixListGrid").data('kendoGrid').setOptions(_originalPCMatrixListGrid);
                $("#PCMatrixListGrid .k-grid-toolbar").html(_originalPCMatrixListGridToolBar);
                $("#PCMatrixListGrid .k-grid-toolbar").addClass("k-grid-top");
                $('#PCMatrixListGrid').data("kendoGrid").dataSource.read();
                break;

            case 'Unsort':
                UnsortGrid("#PCMatrixListGrid");
                break;
        }
    }
</script>

@(
 Html.Kendo().ToolBar()
    .Name("PCMatrixToolBar")
    .Resizable(true)
    .Items(items =>
    {
        items.Add().Template(LabelHelper.Label("Entity").ToHtmlString());
        items.Add().Template(Html.Kendo().DropDownList()
                            .Name("PCMatrixDropdownList")                            
                            .DataTextField("Custodian")
                            .DataValueField("CompanyId")
                            .OptionLabel(LabelHelper.Text("OptionLabel"))
                            .AutoBind(true)
                                .Template("#if(data.Custodian == \"" + LabelHelper.Text("OptionLabel") + "\")" +
                                       "{#<span class=\"k-state-default\">#:data.Custodian#</span>#}" +
                                       "else {# <span class=\"k-state-default\">#:data.Custodian# #:data.Name#</span> #}#")
                            .Events(events => events.Change("onPCMatrixChange").DataBound("onPCMatrixDefaultLoad").Open("onContraEntityAutoCompleteResize"))
                            .DataSource(dataSource => dataSource
                            .Read(read => read
                            .Action("Read_EntityDropdown", "ContraEntity", new { area = "DomesticTrading" })))
                            .SelectedIndex(0).ToHtmlString());
    }))

<hr class="hr-white">

<div id="PCMatrixContent" class="grid-div">
    @(
 Html.Kendo().Grid<SL_PCMatrix>()
        .Name("PCMatrixListGrid")
        .Sortable()
        .HtmlAttributes(new { @class = "grid" })
        .Scrollable()
        .Filterable()
        .NoRecords()
        .Editable(e => e.Mode(GridEditMode.InLine).Enabled(SessionSecurityService.IsEditable(ManagerTask.EditSLRule)))
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Navigatable()
        .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))        
              .Events(events =>
               {
                   events.DataBound("onPCMatrixCheckData");
                   events.Edit("onPCMatrixEdit");
                   events.ColumnHide("onPCMatrixListLayoutChange");
                   events.ColumnShow("onPCMatrixListLayoutChange");
                   events.ColumnResize("onPCMatrixListLayoutChange");
                   events.ColumnReorder("onPCMatrixListLayoutChange");
               })
        .ToolBar(toolbar => toolbar.Create())
        .Columns(columns =>
            {
                columns.Bound(x => x.SLPCMatrix).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                columns.Bound(x => x.EntityId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
                columns.Bound(x => x.PC).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                columns.Bound(x => x.ColumnTypeId).GetColumnFormat(ColumnTypeEnum.String, false, "", "_PCMatrixColumnTypeDropdown");                
                columns.Bound(x => x.OperatorId).GetColumnFormat(ColumnTypeEnum.String, false, "", "_PCMatrixOperatorDropdown");
                columns.Bound(x => x.Value).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
                columns.Bound(x => x.Priority).GetColumnFormat(ColumnTypeEnum.Position, false, "", "Integer");
                columns.Bound(x => x.IsActive).GetColumnFormat(ColumnTypeEnum.String, false, "<input type='checkbox'  class='enabledPCMatrixChkbx' #= (IsActive) ? checked ='checked' : '' #/>", "");
                columns.Command(x =>
                    {
                        if (SessionSecurityService.IsEditable(ManagerTask.EditSLRule))
                        {
                            x.Edit();
                            x.Destroy();
                        }
                    });
            })
        .ColumnMenu(menu =>
        {
            menu.Columns(true);
            menu.Filterable(true);
            menu.Sortable(true);
            menu.ComponentType( "modern" );
        } )
         .DataSource(dataSource => dataSource
            .Ajax()
            .Events(events => events.Error("onPCMatrixError"))
            .Read(read => read.Action("Read_PCMatrix", "PCMatrix", new { area = "DomesticTrading" }).Data("additionalPCMatrixData"))
            .Update(update => update.Action("Update_PCMatrix", "PCMatrix", new { area = "DomesticTrading" }))
            .Destroy(destroy => destroy.Action("Delete_PCMatrix", "PCMatrix", new { area = "DomesticTrading" }))
            .Create(create => create.Action("Create_PCMatrix", "PCMatrix", new { area = "DomesticTrading" }).Data("additionalPCMatrixData"))
            .Model(model =>
            {
                model.Id(x => x.SLPCMatrix);
                model.Field(x => x.EntityId).Editable(false);
                model.Field(x => x.PC).Editable(true).DefaultValue("");
                model.Field(x => x.OperatorId).DefaultValue(Convert.ToInt32(SL_Operator.gte));
                model.Field(x => x.ColumnTypeId).DefaultValue(Convert.ToInt32(SL_ColumnType.CONTRAENTITY));
                model.Field(x => x.Value).DefaultValue("");
                model.Field(x => x.IsActive).DefaultValue(true);
            }))
    )
</div>


@(Html.Kendo().ContextMenu()
.Name("PCMatrixListContextMenu")
    .Target("#PCMatrixListGrid")
    .Events(events => events.Select("onPCMatrixListContextMenuSelect"))
    .Items(items =>
    {
        items.Add().Text("AutoFit Columns");
        items.Add().Text("Unsort").Enabled(true);
        items.Add().Text("Reset Filter").Enabled(true);
        items.Add().Text("Reset Grid").Enabled(true);
    }))