@using SLTrader.Enums
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Tools
@using BondFire.Entities.Projections

<script type="text/javascript">
    var _originalFPLPositionGridSelectAll = null;
    var _originalFPLPositionGrid = null;
    var _originalFPLPositionToolBar = null;

    $('#SharedLabelCheckBox').change(function () {
        RefreshGrid("#FPLPositionGrid");
    });

    $(document).ready(function () {
        setTimeout(function () {
            _originalFPLPositionGrid = $("#FPLPositionGrid").data('kendoGrid').getOptions();
            _originalFPLPositionToolBar = $("#FPLPositionGrid .k-grid-toolbar").html();

            LoadGridLayout("#FPLPositionGrid");

            $("#FPLPositionGrid .k-grid-toolbar").html(_originalFPLPositionToolBar);
            $("#FPLPositionGrid .k-grid-toolbar").addClass("k-grid-top");
        }, 5);
    });

    function onFPLPositionLayoutChange(e) {
        e.preventDefault();

        setTimeout(function () {
            UpdateGridLayout("#FPLPositionGrid");
        }, 5);
    }

    function onFPLPositionCheckData() {
        CheckGridData('#FPLPositionGrid');
    }

    function createFPLPositionData() {
        var entity = $("#FPLPositionDropdownList").data("kendoDropDownList").value();

        return {
            entityId: entity,
            entityToDisplay: entity
        };
    }

    function additionalFPLPositionData() {
        var effectiveDatePicker = $("#FPLPositionCalander").data("kendoDatePicker");
        var effectiveDateValue = kendo.toString(effectiveDatePicker.value(), 'yyyy-MM-dd');

        var entity = $("#FPLPositionDropdownList").data("kendoDropDownList").value();

        return {
            effectiveDate: effectiveDateValue,
            entityId: entity
        };
    }

    function onFPLPositionEdit(e) {
        var input = e.container.find("input");
        setTimeout(function () {
            input.select();
        }, 25);
    }

    function onFPLPositionDefaultLoad() {
        try {
            var userPreference;

            $.ajax({
                url: '/Header/Header/GetUserPreference',
                type: 'POST',
                contentType: 'application/json;',
                success: function(valid) {
                    userPreference = valid;

                    var dropdownList = $('#FPLPositionDropdownList').data("kendoDropDownList");

                    dropdownList.select(function(dataItem) {
                        return dataItem.CompanyId == userPreference.DefaultFirm;
                    });

                    $('#FPLPositionGrid').data("kendoGrid").dataSource.read();
                },
                error: function(valid) {
                    userPreference = null;
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }

    function onFPLPositionChange() {
        $("#FPLPositionGrid").data("kendoGrid").dataSource.read();
    }

    function onFPLPositionContextMenuSelect(e) {
        switch ($(e.item).children(".k-link").text()) {
            case 'AutoFit Columns':
                resizeGridColumns("#FPLPositionGrid");
                break;

            case "Reset Filter":
                ResetFilter("#FPLPositionGrid");
                break;

            case 'Select All':
                onTradeSelectAll(true);
                break;

            case 'Export To Excel':
                KendoGridToCSVConvertor("#FPLPositionGrid", 'FPLPositionGrid', _originalFPLPositionGridSelectAll);
                break;


            case "Reset Grid":
                ResetUserLayout("#FPLPositionGrid");

                $("#FPLPositionGrid").data('kendoGrid').setOptions(_originalFPLPositionGrid);
                $("#FPLPositionGrid .k-grid-toolbar").html(_originalFPLPositionToolBar);
                $("#FPLPositionGrid .k-grid-toolbar").addClass("k-grid-top");
                $('#FPLPositionGrid').data("kendoGrid").dataSource.read();
                break;

            case 'Unsort':
                UnsortGrid("#FPLPositionGrid");
                break;
        }
    }

    $(function () {
        $('#FPLPositionGrid').on('click', '.IsOptedChkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#FPLPositionGrid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            dataItem.set('IsOpted', checked);
            dataSource.sync();
        });

        $('#FPLPositionGrid').on('click', '.AllowSendConfirmChkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#FPLPositionGrid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            dataItem.set('AllowSendConfirm', checked);
            dataSource.sync();
        });
    });

    function onFPLendingDefaultOption() {
        try {
            HelperPartialWindow(
                null,
                'FPLending Defaults',
                490,
                490,
                '/DomesticTrading/FPLending/LoadFPLendingDefaultOptionsPartial'
            );
        }
        catch (e) {
            DisplayControllerByStringError("Info", e.message);
        }
    }

    function onFPLPositionRowChange(e) {
        _originalFPLPositionGridSelectAll = false;
    }

    function onFPLPositionRefresh(e) {
        $("#FPLPositionGrid").data("kendoGrid").dataSource.read();
    }

    function onFPLAllocation(e) {
        try {
            var entity = $("#FPLPositionDropdownList").data("kendoDropDownList").value();

            $.ajax({
                url: '/DomesticTrading/FPLending/ForceAllocation',
                data: JSON.stringify({
                    entityId: entity
                }),
                type: 'POST',
                contentType: 'application/json;',
                success: function (valid) {
         
                },
                error: function (valid) {
                }
            });
        }
        catch (e) {
            console.log(e.message);
        }
    }
</script>

@(
 Html.Kendo().ToolBar()
    .Name("FPLPositionToolBar")
    .Resizable(true)
    .Items(items =>
    {
        items.Add().Template(LabelHelper.Label("EffectiveDate").ToHtmlString());
        items.Add().Template(Html.Kendo().DatePicker()
                    .Name("FPLPositionCalander")
                    .Format("yyyy-MM-dd")
                    .Value(DateTime.Now)
                    .Events(events => events.Change("onFPLPositionChange"))
                    .ToHtmlString());

        items.Add().Template(LabelHelper.Label("Entity").ToHtmlString());
        items.Add().Template(Html.Kendo().DropDownList()
                            .Name("FPLPositionDropdownList")
                            .HtmlAttributes(new { @class = "width90" })
                            .DataTextField("Custodian")
                            .DataValueField("CompanyId")
                            .OptionLabel(LabelHelper.Text("OptionLabel"))
                            .AutoBind(true)
                                .Template("#if(data.Custodian == \"" + LabelHelper.Text("OptionLabel") + "\")" +
                                       "{#<span class=\"k-state-default\">#:data.Custodian#</span>#}" +
                                       "else {# <span class=\"k-state-default\">#:data.Custodian# #:data.Name#</span> #}#")
                            .Events(events => events.Change("onFPLPositionChange").DataBound("onFPLPositionDefaultLoad").Open("onContraEntityAutoCompleteResize"))
                            .DataSource(dataSource => dataSource
                            .Read(read => read
                            .Action("Read_EntityDropdown", "ContraEntity", new { area = "DomesticTrading" })))
                            .SelectedIndex(0).ToHtmlString());

        items.Add().Template(Html.Kendo().Button().Name("FPLPositionButton").Content("<i class='fa fa-refresh fa-1x'></i>").Events(ev => ev.Click("onFPLPositionRefresh")).ToHtmlString());

        items.Add().Template(Html.Kendo().Button().Name("FPLForceAllocation").Content("<i class='fa fa-exclamation fa-1x'></i>").Events(ev => ev.Click("onFPLAllocation")).ToHtmlString());
    }))

<hr class="hr-white">

<div id="FPLPositionContent" class="grid-div">
    @(
 Html.Kendo().Grid<SL_FPLendingAvailableByContraProjection>()
        .Name("FPLPositionGrid")
        .Sortable()
        .HtmlAttributes(new { @class = "grid" })
        .Scrollable()
        .Filterable()
        .NoRecords()
        .Scrollable(scroll =>
        {
            scroll.Enabled(true);
            scroll.Virtual(true);
        })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
        .Navigatable()
            .Reorderable(re =>
            {
                re.Columns(true);
            })
        .ColumnMenu(menu =>
        {
            menu.Columns(true);
            menu.Enabled(true);
            menu.Filterable(true);
            menu.Sortable(true);
            menu.ComponentType( "modern" );
        } )
        .Resizable(cols => cols.Columns(bool.Parse(DataSystemValues.LoadSystemValue("ResizeableGrid", "true"))))
        .Pageable(pagable =>
        {
            pagable.Numeric(false);
            pagable.PreviousNext(false);
            pagable.Messages(config =>
            {
                config.Display("Showing {2} record(s)");
            });
        })
        .Events(events =>
        {
            events.DataBound("onFPLPositionCheckData");
            events.ColumnHide("onFPLPositionLayoutChange");
            events.ColumnShow("onFPLPositionLayoutChange");
            events.ColumnResize("onFPLPositionLayoutChange");
            events.ColumnReorder("onFPLPositionLayoutChange");
            events.ColumnReorder("onFPLPositionRowChange");
        })
        .Columns(columns =>
        {
            columns.Bound(x => x.EffectiveDate).GetColumnFormat(ColumnTypeEnum.Date, false, "", "").Hidden(true);
            columns.Bound(x => x.EntityId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);

            columns.Bound(x => x.IssueId).GetColumnFormat(ColumnTypeEnum.String, false, "", "").Hidden(true);
            columns.Bound(x => x.ContraEntity).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.AccountNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.SecurityNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Ticker).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.SecNumber).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.ISIN).GetColumnFormat(ColumnTypeEnum.String, false, "", "");
            columns.Bound(x => x.Sedol).GetColumnFormat(ColumnTypeEnum.String, false, "", "");


            columns.Bound(x => x.Price).GetColumnFormat(ColumnTypeEnum.String, false, "", "");

            columns.Bound(x => x.PendingAvailableQuantity).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(PendingAvailableQuantity)#", "");
            columns.Bound(x => x.PendingAvailableAmount).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetMoneyDirection(PendingAvailableAmount)#", "");

            columns.Bound(x => x.AvailableQuantity).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(AvailableQuantity)#", "");
            columns.Bound(x => x.AvailableAmount).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetMoneyDirection(AvailableAmount)#", "");

            columns.Bound(x => x.AllocatedQuantity).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(AllocatedQuantity)#", "");
            columns.Bound(x => x.AllocatedAmount).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetMoneyDirection(AllocatedAmount)#", "");

            columns.Bound(x => x.PullbackQuantity).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetPositionDirection(PullbackQuantity)#", "");
            columns.Bound(x => x.PullbackAmount).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetMoneyDirection(PullbackAmount)#", "");

            columns.Bound(x => x.BorrowedRate).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetRateDirection(BorrowedRate)#", "");
            columns.Bound(x => x.IntraDayLendingRate).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetRateDirection(IntraDayLendingRate)#", "");
            //columns.Bound(x => x.).GetColumnFormat(ColumnTypeEnum.Position, false, "#=GetRateDirection(BorrowedRate)#", "");

            columns.Bound(x => x.CurrencyCode).GetColumnFormat(ColumnTypeEnum.String, false, "", "");

        })
         .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(50)
            .Sort(sort =>
            {
                sort.Add(x => x.IssueId).Ascending();
            })
            .Read(read => read.Action("Read_FPLPositions", "FPLending", new { area = "DomesticTrading" }).Data("additionalFPLPositionData"))
            .Model(model =>
            {
                model.Id(x => x.IssueId);
            })))
</div>

@(Html.Kendo().ContextMenu()
.Name("FPLPositionContextMenu")
    .Target("#FPLPositionGrid")
    .Events(events => events.Select("onFPLPositionContextMenuSelect"))
    .Items(items =>
    {
        items.Add().Text("AutoFit Columns");
        items.Add().Text("Unsort").Enabled(true);
        items.Add().Text("Reset Filter").Enabled(true);
        items.Add().Text("Reset Grid").Enabled(true);
        items.Add().Separator(true);
        items.Add().Text("Select All");
        items.Add().Text("Export To Excel");
    }))