<script>
    function onRebateBillingSelect(e) {
        e.preventDefault();

        var item = e.item.firstChild.pathname;
        var title = e.item.firstChild.textContent;

        try {
            if (item != undefined) {
                AddTab(item, title);
            }
        }
        catch (e) {
            alert(e.message);
        }
    }

    function resizeTabs() {
        var paneHeight = $("#RebateBillingTabStrip").closest(".k-pane").innerHeight();
        var kpane = $("#RebateBillingTabStrip").closest(".k-pane");
        var tabsHeight = $("#RebateBillingTabStrip > .k-tabstrip-items").outerHeight();
        $("#RebateBillingTabStrip > div").height(paneHeight - tabsHeight - 18);
    }

    function AddTab(targetUrl, title) {
        var tabStrip = $("#RebateBillingTabStrip").data("kendoTabStrip");
        var tabId = title.replace(/\s/g, '').replace(':', '');

        var innerText = title + "<i class='fa fa-times-circle' width='12px' height='12px' style='padding-left: 10px; border: 0px;' onclick='DeleteTab(this);'></i><span id='" + tabId + "'/>";
        var currentTab = $("#" + tabId).closest('.k-item');

        if (currentTab.length) {
            tabStrip.select(currentTab);
        } else {
            $.ajax({
                url: "@Url.Action("RetrievePartial", "Admin", new {Area = "Admin"})",
                data: {
                    url: targetUrl
                },
                success: function (result) {

                    tabStrip.append({
                        text: innerText,
                        encoded: false,
                        content: result,
                    });

                    resizeTabs();

                    tabStrip.select((tabStrip.tabGroup.children("li").length - 1));
                },
                error: function (e) {
                    tabStrip.append({
                        text: innerText,
                        encoded: false,
                        content: e.responseText,
                    });

                }
            });
        }
    }

    function DeleteTab(imgObj) {
        var tabStrip = $("#RebateBillingTabStrip").data("kendoTabStrip");

        var deleteIndex = $(imgObj).closest("li").index();
        tabStrip.remove(deleteIndex);

        if (deleteIndex > 0) {
            var nextTab = tabStrip.select(deleteIndex);

            if (nextTab.length) {
                tabStrip.select(deleteIndex);
            } else {
                tabStrip.select(deleteIndex - 1);
            }
        } else {
            tabStrip.select(0);
        }
    }
</script>

@( 
    Html.Kendo().Menu()
        .Name("RebateBillingMenu")
           .HoverDelay(100)
           .OpenOnClick(true)
           .Orientation(MenuOrientation.Horizontal)
           .Events(events => events.Select("onRebateBillingSelect"))
           .BindTo("RebateBillingWebSiteMap"))

<div id="RebateBillingMenu" class="k-menu-vertical"></div>
