@using SLTrader.Tools
<script>
    function onChange() {
        var datepicker = $("#SeucrityMasterHistoryCalander").data("kendoDatePicker");
        var value = kendo.toString(datepicker.value(), 'yyyy-MM-dd');

        var entity = $("#SeucrityMasterHistoryDropdownList").data("kendoDropDownList").value();

        window.localStorage['SecurityMasterEffectiveDate'] = value;
        window.localStorage['SecurityMasterEntityId'] = entity;
    }
    $(window).load(function () {
        var entity = window.localStorage['SecurityMasterEntityId'];
        var effectiveDate = window.localStorage['SecurityMasterEffectiveDate'];

        alert(entity);
        alert(effectiveDate);
        4
        if (entity != null) {
            $("#SeucrityMasterHistoryDropdownList").data("kendoDropDownList").value(entity);
        }

        if (effectiveDate != null) {
            $("#SeucrityMasterHistoryCalander").data("kendoDatePicker").value(effectiveDate);
        }
    });
</script>


<table>
    <tr>
        <td>
            @LabelHelper.Label("EffectiveDate")

        </td>
        <td>
            @(Html.Kendo().DatePicker()
                    .Name("SeucrityMasterHistoryCalander")
                    .Format("yyyy-MM-dd")
                    .Value(DateTime.Now)
                    .HtmlAttributes(new { @class = "Toolbar-Cell" })
                    .Events(events => events.Change("onChange")))
        </td>
        <td>
            @LabelHelper.Label("Entity")
        </td>
        <td>
            @(Html.Kendo().DropDownList()
                    .Name("SeucrityMasterHistoryDropdownList")
                    .HtmlAttributes(new { @class = "Toolbar-Cell" })
                    .DataTextField("EntityId")
                    .DataValueField("EntityId")
                    .OptionLabel("Empty List")
                    .AutoBind(true)
                    .Events(events => events.Change("onChange"))
                    .DataSource(dataSource => dataSource
                    .Read(read => read
                    .Action("Read_EntityDropdown", "ContraEntity")))
                    .SelectedIndex(0))
        </td>
    </tr>
</table>
