@using System.ComponentModel
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Enums
@using SLTrader.Tools
@using SLTrader.Models
@using BondFire.Entities.Projections

@model Boolean

<script type="text/javascript">

</script>

<div id="StatusBlock">
@{
    if (Model)
    { 
        <a href='javascript:void(0)' title="Server is up" style="color:lightgreen;"><i class='fa fa-signal fa-2x'></i></a>
    }
    else
    {
      <a href='javascript:void(0)' title="Server is down" style="color:red;"><i class='fa fa-signal fa-2x'></i></a>
    }
}
</div>