@using System.ComponentModel
@using SLTrader.Helpers.SessionHelper
@using SLTrader.Enums
@using SLTrader.Tools
@using SLTrader.Models
@using BondFire.Entities


<div style="max-width:700px">
    @(
 Html.Kendo().Grid<SL_SystemValue>()
.Name( "SystemValues" )
        //.HtmlAttributes(new { @class = "grid" })
.Sortable()
.Filterable()
.Columns( cols =>
{
    cols.Bound( x => x.SLSystemValue ).GetColumnFormat( ColumnTypeEnum.String, false, "", "" ).Hidden( true );
    cols.Bound( x => x.Name ).GetColumnFormat( ColumnTypeEnum.String, false, "", "" ).Width( 80 );
    cols.Bound( x => x.Value ).GetColumnFormat( ColumnTypeEnum.String, false, "", "" ).Width( 80 );
    cols.Command( x => x.Edit() ).Width( 80 );
} )
     .Scrollable()
     .Navigatable()
     .Resizable( resize => resize.Columns( true ) )
     .DataSource( ds => ds.Ajax()
         .ServerOperation( false )
         .Model( model =>
         {
             model.Id( x => x.SLSystemValue );
             model.Field( x => x.Name ).Editable( false );
         } )
         .Read( read => read.Action( "LoadValues", "Header", new { area = "Header" } ) )
         .Update( update => update.Action( "UpdateValue", "Header", new { area = "Header" } ) ) )
    )
</div>