<script type="text/javascript">
    function onActivate(e) {
        resizeTabs("#LocateTabStrip", 40);

        $(e.contentElement).find('.k-state-active [data-role="grid"]').each(function () {
           $(this).data("kendoGrid").refresh();
        });
    }
</script>

@(
 Html.Kendo().TabStrip()
        .Name("LocateTabStrip")     
        .Events(e => e.Activate("onActivate(this)").ContentLoad("onActivate(this)").Select("onActivate(this)"))
)




<div id="LocateTabStrip"></div>
<style scoped>
      #LocateTabStrip {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;            
        }

        #LocateTabStrip > .k-content {
                border: 0;
                position: absolute;
                top: 34px;
                bottom: 10px;
                left: 0;
                right: 0;
                width: auto;
                height: auto;
            }
</style>